//Colors

$color-primary: rgb(17, 100, 102);
$color-secondary-matte: rgb(217, 176, 140);
$color-secondary-bright: rgb(255, 203, 154);
$color-highlights: rgb(209, 232, 226);
$color-grey-dark: rgb(44, 53, 49);
$color-white: rgb(255, 255, 255);
$color-black: rgb(25, 25, 25);


//Fonts
$font-normal: 'Nunito',
sans-serif;
$font-special: 'Josefin Sans',
sans-serif;
$font-size-default: 1.6rem;